<?xml version="1.0" encoding="UTF-8"?>
<!--
Launches urg_node and static transform node for publishing LIDAR data
Camera Model: Hokuyo UST-20LX 
-->

<launch>

  <node name="urg_node" pkg="urg_node" type="urg_node">	
    <param name = "ip_address" value="192.168.0.10"/>
  </node>

  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 map laser 10"/>
 

	
</launch>

